@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff2) format('woff2');
    src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff) format('woff');
    font-weight: 400;
    font-style: 'normal';
    font-display: 'swap';
  }
  @font-face {
    font-family: TwitterChirpExtendedHeavy;
    src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2) format('woff2');
    src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff) format('woff');
    font-weight: 800;
    font-style: 'normal';
    font-display: 'swap';
  }

body {
    background-color: #FEFBEA;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: TwitterChirp;
    color: #FF5A5F;
    }

.nav {
      margin-left: auto;
      padding: 20px;
  }

.main-box{

  background-color: #F5F5F5;
  text-align: center;
  position: absolute; 
  top: 50%;
  border: solid;
  border-radius: 10px;
  padding: 20px;

}

.nav{

  font-family: TwitterChirpExtendedHeavy;

}