<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>

    <!-- <link rel="stylesheet" href="/static/style.css" > -->
  </head>
  <body>
    <img src="/static/img/logo2.png" alt="logo" width="100" height="40">
    <div class="nav">
      <a href="/spaces" class="button">Spaces</a>
      <a href="/requests" class="button">Requests</a>
      <a href="/signout" class="button">Sign out</a>
    </div>
    <h1>Beautiful Relaxing Space</h1>
    <p class="t-name">Name: {{space.name}}</p>
    <p class="t-description">Discription: {{space.description}}</p>
    <p class="t-price">Price per night: £{{space.price}}</p><br>
   
    <h4>Pick a night</h4>

    <p><input type="submit" value="Request to Book" class="button" /></p>
  </form>
  </body>
</html>
