<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>

    <!-- <link rel="stylesheet" href="/static/style.css" > -->
  </head>
  <body>
    <h1>Feel at home, anywhere</h1>
    <h2>Escape to anywhere, anytime on Makers BnB</h2>
    <div class="nav">
      <a href="/about" class="button">About</a>
      <a href="/users/sessions/login" class="button">Login</a>
    </div>
    <div class="signup_box">
      <h2>Sign up to Makers BnB</h2>
      <form action="/users" method="POST">
        <h3>
          <label for="email">Email Address</label><br />
          <input type="text" name="email" id="email" />
        </h3>
        <h3>
          <label for="password">Password</label>
          <br />
          <input type="text" name="password" id="password" />
        </h3>

        <p><input type="submit" value="Signup" class="button" /></p>
      </form>
    </div>
  </body>
</html>
