<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>


    <link rel="stylesheet" href="/static/style.css" >



  </head>
  <body>
    <img src="/static/img/logo2.png" alt="logo" width="100" height="40" />
    <div class="nav">
      <a href="/" class="button">Home</a>
      <a href="/requests" class="button">Requests</a>
      <a href="/logout" class="button">Log out</a>
    </div>
    <h1>Book a Space</h1>
    <h2>Escape to anywhere, anytime on Makers BnB</h2>
    <div class="book_space">
      <a href="/space" class="button">List a Space</a>
    </div>
    {% for space in spaces %}
    <div class="list_of_spaces">
      <h3>
        <a href="/spaces/{{ space.id }}"
          >{{ space.name }} {{ space.description }} {{space.price}}</a
        >
      </h3>
    </div>
    {% endfor %}
  </body>
</html>
